<!DOCTYPE html>
<html lang="en">
<head>
    <title>pingly</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/css/tailwind.css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body class="bg-gray-200 text-gray-800 bg-center bg-no-repeat">
    <div class="h-screen w-full">
        <div class="h-16 w-full bg-gra"></div>
    </div>
</body>
</html>
